
body {
    background-color: #99ddc6;
    font-family: Arial, sans-serif;
    text-align: center;
}


h1 {
    color: rgb(0, 102, 204);
    font-family: 'Trebuchet MS', sans-serif;
    margin-top: 20px;
}


h3.tokyo {
    color: darkred;
    font-family: 'Courier New', monospace;
}

h3.london {
    color: navy;
    font-family: 'Georgia', serif;
}

h3.sydney {
    color: forestgreen;
    font-family: 'Verdana', sans-serif;
}

h3.newyork {
    color: purple;
    font-family: 'Lucida Console', monospace;
}


table {
    margin: 10px auto;
    border-collapse: collapse;
    width: 60%;
    border: 2px solid #333;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
}


.day {
    font-style: italic;
    font-weight: bold
}


.forecast {
    font-weight: bold;
    font-size: 1.2em;
}


.tokyo table {
    box-shadow: 2px 2px 10px gray;
    background-color: #8d3b3b;
    font-family: serif;
    color: white
}
.london table {
    box-shadow: 2px 2px 10px gray;
    background-color: dodgerblue;
    font-family: arial;
}
.sydney table {
    box-shadow: 2px 2px 10px gray;
    background-color: #80bc22;
    font-family: times new roman;
}
.minnesota table {
    box-shadow: 2px 2px 10px gray;
    background-color: mediumpurple;
    font-family: sans-serif;
}

